#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=/opt/conda/icons/jupyter_logo.svg
Exec=/opt/conda/bin/jupyter-lab
Name=JupyterLab
